body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('2.jpg'); /* Ganti 'background.jpg' dengan nama file gambar latar belakang Anda */
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Menambahkan lapisan transparan untuk meningkatkan kontras teks */
    border-radius: 10px;
}

h1 {
    color: #333;
}

form {
    margin-top: 50px;
}

input[type="text"],
input[type="number"] {
    padding: 12px;
    width: calc(100% - 24px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
